.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #3b0a50e6;

}

.form{
    border-radius: 5%;
    border: 1px solid rgb(218, 218, 218);
    width: 350px;
    background: #fff;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.formHeading{
    padding: 20px 0 0 20px;
}

.formHeading h3{
    font-weight: 600;
    font-size: 1.5rem;
    color: #082032;
}

.formHeading p {
    line-height: 0;
    color: gray;
    font-weight: 400;
    opacity: 0.7;
    font-size: 0.8rem;

}

.formBody p {
    line-height: 0;
    color: #082032;
    font-size: 0.9rem;
    font-weight: 400;
    margin-left: 10px;

}

.formBody{
    padding: 10px 20px 25px 20px;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    .form {
      width: 300px;
    }
  }

  .ant-form-item-explain.ant-form-item-explain-error{
      font-size: 10px !important;
      text-align: right;
  }
  .inputs{
      border-radius: 10px;
  }

  .inputs:focus, .inputs:hover{
    border-color: #3b0a50e6;
    box-shadow: none;

  }

  .btnLogin {
      background: #3b0a50e6;
      border-color: #3b0a50e6;
      font-weight: 600;
      border-radius: 10px;
  }

  .btnLogin:hover,.btnLogin:focus{
    background: #450c5ee6;
    border-color: #3b0a50e6;
}
